@use '../abstracts/variables' as *;

.chat-container {
  position: relative;
  z-index: 5;
  max-width: 800px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: $shadow;
  height: 700px;
  display: flex;
  flex-direction: column;
}

.chat-content {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chat-page {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  height: 100%;
  pointer-events: none;
}