@use '../abstracts/variables' as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: $background-color;
}

.app {
  position: relative;
  width: 100%;
  height: 700px;
}